{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "shelljs": true
  },
  "globals": {
    "chrome": true,
    "localStorage": true
  }
}
